@use "../../../styles/variables.scss" as *;
@use "../../../styles/styles.scss" as *;



.wrapper {
    @include wrapper;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}