@use "../../styles/variables.scss" as *;

.button {
    border-radius: 10px;
    padding: 5px 7px;
    background-color: $brand-color;
    border: none;
}

.button:hover {
    background-color: $brand-hover;
}

.img {
    width: 25px;
}
