@use "../../styles/variables" as *;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  fill: $brandColor;
  animation: spin 1s infinite linear;
}

.loader-size-l {
  width: 60px;
  height: 60px;
}

.loader-size-m {
  width: 48px;
  height: 48px;
}

.loader-size-s {
  width: 24px;
  height: 24px;
}

.loading_block {
  display: flex;
  align-items: center;
  flex-direction: row;
}
