@use "../../styles/variables" as *;

.button {
  background-color: $brandColor;
  display: inline-flex;
  align-items: center;
  padding: $space_s $space_l $space_s $space_l;
  border: none;
  /* outline: none; */
  color: var($white);
  min-height: 52px;
}

.button_loader {
  fill: var($white);
}

.button:hover {
  background-color: $brandHover;
}

.button:disabled {
  pointer-events: none;
  cursor: default;
}
.button_disabled {
  background-color: $lightGrey;
}

.button:active {
  background-color: $colorAccentActive;
}

.button .button_loader {
  flex-shrink: 0;
  margin-right: 8px;
  color: currentColor;
}
