.button {
    background-color: var(--color-brand);
    display: inline-flex;
    align-items: center;
    padding: var(--space-s) var(--space-l) var(--space-s) var(--space-l);
    border: none;
    /* outline: none; */
    color: white;
    min-height: 52px;

}

.button_loader {
    fill: white;
}

.button:hover {
    background-color: var(--brand-hover);
}

.button:disabled {
    pointer-events: none;
    cursor: default;
}
.button_disabled {
    background-color: var(--color-light-grey);
}

.button:active {
    background-color: var(--color-accent-active);
}

.button .button_loader {
    flex-shrink: 0;
    margin-right: 8px;
    color: currentColor;
}