@use "./Roboto/fonts.scss";

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  text-decoration: none;
}

::selection {
  color: rgb(211, 240, 168);
  background-color: rgb(31, 36, 40);
}
