@use "./Roboto/fonts.scss";
@use "./variables.scss" as *;

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: $bg-secondary;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

::selection {
  color: rgb(211, 252, 148);
  background-color: rgb(111, 75, 153);
}

@mixin wrapper() {
  max-width: 1240px;
  margin: auto;
  padding: 0 8px;
}

.active p {
  color: $brand-color;
}
