$brandColor: #518581;
$brandHover: #86aaa7;
$primaryColor: #000000;
$colorSecondary: #afadb5;
$colorAccentActive: #487773;
$lightGrey: #d9d9d9;
$white: #fff;
$whiteGrey: #f3f3f3;
$backgroundColor: #fafafa;
$space_xxxl: 48px;
$space_xxl: 32px;
$space_xl: 24px;
$space_l: 20px;
$space_m: 16px;
$space_s: 14px;
$space_xs: 12px;
$space_xxs: 8px;
$shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

@mixin loader {
  position: relative;
  top: 50%;
  left: 50%;
}
