@use "../../styles/variables" as *;

.card {
  width: 100%;
  max-width: 360px;
  background-color: $white;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.card:hover {
  box-shadow: $shadow;
}
.card__header {
  position: relative;
  background-color: $lightGrey;
}

.card__header::after {
  content: "";
  display: block;
  padding-top: 100%;
}
.card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: $space_xs $space_xs;
}
.card__caption {
  margin-bottom: $space_xxs;
}
.card__subtitle {
  margin-top: $space_xxs;
}
.card__footer {
  display: flex;
  align-items: center;
  margin-top: $space_l;
}
.card__action {
  padding-left: $space_xxs;
  margin-left: auto;
}
