@use "../../../../styles/variables.scss" as *;

.loader {
  @include loader;
}

.root {
  margin-top: $space_xxxl;

  &__title {
    margin-bottom: $space_xxl;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}
