@use "../../../styles/variables.scss" as *;

.mainPage__textBlock {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: $space_xl;
  align-items: center;

  p {
    max-width: 653px;
    text-align: center;
  }
}

.main__search_block {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__search_block__input {
  max-width: 1079px;
}

.multiDropdown {
  max-width: 300px;
}

.main__search_and_filter {
  display: flex;
  flex-direction: column;
  gap: $space_xl;
}

.main__card_list {
  margin-top: 48px;
}

.main__card_list__title_text {
  font-size: 32px;
}

.main__card_list__text_block {
  display: flex;
  align-items: center;
  gap: $space_xl;
}

.main__card_list__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
