@import "../../styles/variables.scss";

.icon {
  display: inline-block;
  flex-shrink: 0;
  color: currentColor;
}

.icon_color_primary {
  color: $primaryColor;
}

.icon_color_secondary {
  color: $colorSecondary;
}

.icon_color_accent {
  color: $brandColor;
}
